/* ==================================================
   VARIÁVEIS DO TEMA MUDATECA
   ==================================================
*/

:root {
    /* Paleta de Cores Mudateca */
    --cor-laranja-primaria: #FF8A4C;
    --cor-laranja-hover: #e57635;
    --cor-laranja-secundario: #FF914D;
    
    --cor-fundo-geral: #F5F5F5;
    --cor-branco: #FFFFFF;
    
    --cor-texto-principal: #111928;
    --cor-texto-secundario: #4F4F4F;
    --cor-texto-suave: #666666;
    --cor-cinza-placeholder: #9CA3AF;
    --cor-borda: #EAEAEA;
    
    --cor-sucesso: #00A650;
    --cor-erro: #E53935;
    --cor-link-azul: #3483FA;

    /* Tipografia */
    --fonte-padrao: 'Inter', sans-serif;
    
    /* Espaçamentos e Sombras Padrão */
    --radius-padrao: 8px;
    --radius-grande: 12px;
    --sombra-padrao: 0 1px 4px rgba(0, 0, 0, 0.1);
    --sombra-card: 0 4px 12px rgba(0, 0, 0, 0.08);
}